.col-header-filter .navbar-toggler {
    display: none;
}

#modal_add_employment .modal-dialog,
#modal_add_education .modal-dialog {
    max-width: 1000px;
}

#modal_add_employment .form-individualprofile .input-group-flex.row-indworkstart .form-group {
    display: flex;
    align-items: center;
}
#modal_add_employment .form-individualprofile .input-group-flex.row-indworkstart .form-group #form_dateworkstart {
    width: 50%;
    padding-right: 10px;
}
#modal_add_employment .form-individualprofile .input-group-flex.row-indworkstart .form-group #form_dateworkend {
    width: 50%;
    padding-left: 10px;
}

#modal_add_employment .form-individualprofile .input-group-flex.row-indworkend {
    align-items: center;
}
.btn-disabled { background: #999 !important; cursor: default !important; border: none; }