* { -webkit-appearance: none; }
html.busy, html.busy * { cursor: wait !important; }  
body {
	font-family: 'HelveticaNeueLTStdLt';
	font-size: 14px;
	color: #574F44;
	background-color: #fff;
	background-image: url('../images/bg-body-grey.gif');
}
h1, h2, h3, h4, h5, h6 { font-family: 'HelveticaNeueLTStdLt'; text-transform: uppercase; }
h2 { margin: 0 0 20px; }
.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.margintb { margin-top: 15px; margin-bottom: 15px; }
img { max-width: 100%; height: auto !important; }
.btn-mearisse { background-color: #221616; color: #fff; }
.btn-mearisse:hover { background-color: #150D0F; color: #BFA69A; }
a.btn-mearisse, a.btn { color: #eee !important; }
.btn.focus, .btn:focus { color: #fff; }
.btn-fb { background: #3B5998; color: #fff; }
.btn-fb:hover { background: #69C; color: #fff; }
a { 
	outline: none !important;
	color: #221616;
	font-weight: bold;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:focus, a:hover { color: #535151; }
label { font-weight: normal; }
.sold-out { opacity: 0.65; }
.home .tooltip-inner { padding: 5px; }

#hWrapper, #sWrapper, #fWrapper, #cfWrapper {
	margin: auto;
}

#hWrapper {
	color: #D3D3D3;
	margin-bottom: 50px;
}

#hWrapper a, #fWrapper a {
	font-weight: normal;
	font-family: 'HelveticaNeueLTStdLt';
	text-decoration: none;
	text-transform: uppercase;
}

#hWrapper header .container {
	margin: 0 auto;
}

#hWrapper header .logo {
	display: inline-block;
}

#hWrapper header .logo img {
	height: 60px !important;
}

#hWrapper header .logo:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

header .top-nav {
	margin: 5px 0 20px;
}

header .top-nav ul {
	padding: 0;
	list-style-type: none;
}

header .top-nav ul li {
	color: #574F44;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
}

header .top-nav ul li:before {
	content: '| ';
	color: #574F44;
	margin: 0 5px;
}

header .top-nav ul li:first-child:before {
	display: none;
}

header .top-nav ul li a {
	font-size: 11px;
}

header .top-nav ul li a:hover {
	color: #ED1C24;
}

header .container-fluid {
	padding: 0;
}

header .navbar-nicchris {
	background: transparent;
	border: none;
	border-radius: 0px;
	margin-bottom: 0;
}

header .navbar-nicchris .navbar-header {
	float: none;
}

header .navbar-nicchris .nav-categories {
	float: none;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	margin-top: 15px;
	margin-bottom: -21px;
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 10%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(255,255,255,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

header .navbar-nicchris .nav-categories .nav-small {
	display: none;
}

header .navbar-nicchris .nav > li {
	float: none;
	display: inline-block;
	vertical-align: middle;
	max-width: 110px;
	position: relative;
	padding-left: 5px;
}

header .navbar-nicchris .nav > li:before {
	content: '|';
	position: absolute;
	left: 0;
	top: calc(50% - 25%);
}

header .navbar-nicchris .nav > li:nth-child(2):before {
	display: none;
}

header .navbar-nicchris .nav > li > a {
	padding: 10px;
	line-height: 15px;
}

.nav > li > a:hover{
	background: none;
	color: #ddd;
}

.nav > li > a:focus {
	background: none;
}

header .navbar-nicchris .navbar-collapse {
	padding: 0;
}

.navbar-nicchris .nav-categories > .open > a,
.navbar-nicchris .nav-categories > .open > a:focus,
.navbar-nicchris .nav-categories > .open > a:hover {
	background: none;
}

header #login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

header #login-dp .form-group {
    margin-bottom: 10px;
}

header #login-dp .form-group a:hover {
	color: inherit;
}

header #login-dp .form-group .help-block a {
	font-size: 12px;
}

.dropdown-menu {
	border-top: 5px solid transparent;
}

.dropdown-menu > li > a {
	font-size: 13px;
	color: #535151 !important;
	border-bottom: 1px solid #eee;
	padding: 7px 20px;
}

.dropdown-menu > li:last-child > a {
	border-bottom: none;
}

.dropdown-menu > li > a:hover {
	color: #fff !important;
	background: rgba(0, 0, 0, 0.5);
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto 30px;
	position: relative;
}

#slider {
	margin-top: -20px;
}

#slider .carousel-inner .item {
	min-height: 400px;
}

#slider .carousel-inner .item .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slider .carousel-indicators {
	.bottom: 60px;
}

#slider .carousel-indicators li {
    .background-color: #37424A ;
    .border: 1px solid #37424A;
    .border-radius: 0;
}

#slider .carousel-indicators li.active {
	.background-color: #ff9900;
	.border: 1px solid #ff9900;
}

.home .container {
	margin-top: 70px;
}

.home .owl-theme .owl-controls .owl-page span {
	background: #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	opacity: 1;
}

.home .owl-theme .owl-controls .owl-page.active span {
	background: #221616;
}

.home .owl-theme .owl-controls .owl-buttons div {
	background: #150D0F;
}

.home .owl-theme .owl-controls .owl-buttons div:hover {
	background: #150D0F;
}

.home .owl-theme .owl-controls .owl-buttons div i {
	line-height: 40px;
	color: #BFA69A;
}

.home .owl-theme .owl-controls .owl-buttons div i:hover {
	color: #fff;
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
	top: 40%;
}

.home .owl-theme .owl-controls .owl-page span {
	margin: 3px;
}

section {
	margin: 20px 0;
}

section .breadcrumb {
	background: none;
	margin: -20px 0 20px 0;
	padding: 0;
}

section .breadcrumb > li + li::before {
	color: #535151;
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section .breadcrumb > li a {
	color: #666;
	font-weight: normal;
}

section .filter-wrapper {
	background: rgba(236,236,236,0.5);
	padding: 5px 10px;
}

section .products {
	margin: 0 0 0;
	padding: 30px 30px 0;
	background: rgba(255,255,255,0.9);
}

section .products .box {
	text-align: center;
	margin: 0 0 30px;
}

section .products .box .thumb {
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

section .products .box .thumb img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

section .products .box .thumb:hover img {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);;
	opacity: 0.7 !important;
}

section .products .box .thumb.sold-out {
	opacity: 1;
}

section .products .box .thumb.sold-out a {
	position: relative;
	display: block;
	margin: auto;
	max-width: 240px;
}

section .products .box .thumb.sold-out a img {
	opacity: 1;
}

section .products .box .thumb.sold-out a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85px;
	height: 85px;
	background-image: url('../images/sold-out.png');
	background-position: left bottom;
	background-repeat: no-repeat;
}

section .products li a {
	text-decoration: none;
}

section .products .box .price {
	margin: 5px 0;
	color: #221616;
	font-weight: bold;
}

section .products .box .price span {
	text-decoration: line-through;
}

section .products .box .price span {
	opacity: 0.35;
	text-decoration: line-through;
	margin-right: 10px;
}

section .products .box .title {
	max-width: 240px;
	margin: 0 auto 5px;
}

section .products .box .title a {
	font-weight: normal;
	white-space: nowrap;
}

section .categories {
	margin: 0;
}

section .categories .box {
	text-align: center;
	margin: 0 0 30px;
}

section .categories .box .thumb {
	margin: 0 0 10px;
}

section .categories .box .img {
	overflow: hidden;
	border: 1px solid #ccc;
}

section .categories .box .img img {
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

section .categories .box .img:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

section .categories li a {
	text-decoration: none;
}

section .categories .box .price {
	margin: 5px 0;
	color: #9E7076;
	font-weight: bold;
}

section .categories .box .title {
	max-width: 240px;
	margin: 5px auto;
}

section .category-description {
	margin: 0 0 30px;
}

.product-wrapper {
	background: #fff;
	padding: 15px;
}

.product ul.product-images {
	padding: 0;
	text-align: center;
}

.product ul.product-images li {
	list-style-type: none;
	display: inline-block;
	border: 1px solid rgba(229, 196, 166, 1);
	margin: 3px;
}

.product ul.product-images li a {
	outline: none;
}

.product ul.product-images li:hover,
.product ul.product-images li.active {
	border: 1px solid #150D0F;
}

.product .img-preview {
	.border: 1px solid #fff;
	background: #fff;
	margin: 0 0 5px;
}

.product .img-preview.sold-out {
	opacity: 1;
}

.product .img-preview.sold-out a {
	position: relative;
	display: block;
	max-width: 450px;
	margin: auto;
}

.product .img-preview.sold-out a img {
	opacity: 1;
}

.product .img-preview.sold-out a:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/sold-out.png');
	background-position: left bottom;
	background-repeat: no-repeat;
}

.product .title {
	font-size: 30px;
	line-height: 35px;
	margin: 0 0 15px;
}

.product .price {
	font-weight: bold;
	font-size: 24px;
	color: #221616;
}

.product .price-original {
	font-weight: bold;
}

.product .description {
	margin: 7px 0 50px;
}

.color-choices label {
	display: block;
}

.color-choices label > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	margin: 0;
}

.color-choices label .colorbox {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

section.cart ul.cart-step {
	margin: 30px 0;
	padding: 5px;
	font-size: 0;
	background: #150D0F;
	border-radius: 5px;
}

section.cart ul.cart-step li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	list-style-type: none;
	width: 25%;
	font-size: 18px;
	color: #999;
}

section.cart ul.cart-step li.active {
	color: #fff;
	font-weight: bold;
}

section .cart-table {
	width: 100%;
	margin: 0 0 20px;
}

section .cart-table.promo-code tr td {
	border-top: 1px solid #CCC;
}

section .cart-table tr:nth-of-type(odd) td {
	background: rgba(229, 196, 166, 0.25);
}

section .cart-table tr:last-child td {
	background: none;
}

section .cart-table tr th {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 15px;
	color: #150D0F;
	font-weight: bold;
}

section .cart-table tr td {
	padding: 15px;
	vertical-align: top;
}

section .cart-table tr td a {
	color: #000;
}

section .cart-table tr td img {

}

section .cart-table.history tr td a {
	display: block;
	margin: 0 0 10px;
}

section .cart-table.history tr td a img {
	margin: 0 0 5px;
}

section .cart-table.history tr td a:last-child {
	margin: 0;
}

section.cart .copy {
	color: #000;
	font-weight: bold;
}

section.cart p {
	margin: 10px 0;
}

section.cart .day.disabled {
	color: #ccc;
}

section.cart ul.payment-method {
	list-style-type: none;
	padding: 0;
}

section.cart .payment-method h4 {
	margin: 0 0 10px;
	text-transform: capitalize;
	font-weight: bold;
}

section.cart .payment-method .method {
	margin: 0 0 10px;
}

#paymentForm label {
	font-weight: bold;
}

#paymentForm ul.receipts-wrapper {
	padding: 0px 0px 0px 15px;
}

#paymentForm ul.receipts-wrapper > li {
	margin: 0 5px 5px 0;
	list-style-type: square;
}

#paymentForm ul.receipts-wrapper > li .remove-receipt {
	margin: 0 0 0 5px;
}

#fWrapper footer {
	padding: 15px;
}

#fWrapper footer .container {
	margin: 0 auto;
}

footer h4 {
	font-weight: bold;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer .copy {
	margin-top: 25px;
}

.transparent-black {
	background: rgba(0,0,0,0.1);
	padding: 50px;
	margin: 20px 0;
	display: block;
	border-radius: 5px;
}

.transparent-black h1 {
	font-size: 50px;
	margin: 50px 0 0;
}

.transparent-black h2 {
	margin: 0;
}

.transparent-black a {
	display: block;
	margin: 15px 0 30px;
}

.tooltip {
	.white-space: nowrap;
}

.spinner {
  width: 100px;
}

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.tabs {
	margin: 50px 0 0;
}

.nav-tabs > li > a {
	background-color: #EEE;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #ddd;
	border-bottom: 1px solid transparent;;
}

.tab-content > .tab-pane {
	padding: 20px;
	background: #fff;
	border-radius: 0 0 4px 4px;
	border: 1px solid #DDD;
	border-top: none;
}