.profile {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 10px;
    width: 182px;
}


.tbl-photo {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    float: left;
}

.tbl-name {
    margin-left: 10px;
    width: 83px;
    padding-top: 8px;
    float: left;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-button {
    margin: auto;
}


.sidebar-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.sidebar .logo {
    padding: 29px 0;
    z-index: 4;
    width: 80%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    top: 0;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.sidebar .logo img {
    width: 100%;
}

.sidebar .nav.top {
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar .nav::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
}

.sidebar .nav::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    height: 3em;
    border-width: 0.1rem;
    border-style: solid;
    background-clip: padding-box;
}

.sidebar .nav::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.sidebar .nav::-webkit-scrollbar-corner {
    background-color: transparent;
}

.sidebar .nav::-webkit-scrollbar-thumb {
    background-color: #c5ccd6;
    border-color: rgba(0, 0, 0, 0);
}

.sidebar .nav::-webkit-scrollbar-track {
    background-color: rgba(31, 45, 65, 0.05);
}

.sidebar .nav::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(0, 0, 0, 0);
}

.sidebar .nav::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

.tbl-header-calendar-gantt-week {
    display: flex;
}

.tbl-header-calendar-gantt-qtr-week-row.qtr-1 {
    text-align: center;
    width: 100px;
    padding: 0.3rem 0.3rem 0.25rem;
    font-size: 0.75rem !important;
    line-height: 1;
}

.tbl-header-calendar-gantt-week-row {
    border-bottom: 1px solid #ddd;
    width: 700px;
    border-right: 1px solid #ddd;
    padding: 0.35rem 1rem 0.3rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
}

.tbl-header-calendar-gantt-week-row-day {
    width: 100px;
    border-right: 1px solid #ddd;
    padding: 0.35rem 0 0.3rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
}

.gantt-grid-week-day-row {
    width: 100px;
    border-right: 1px solid #ddd;
}

.tbl-header-calendar-gantt-time-row-day {
    width: 35.5px;
    border-right: 1px solid #ddd;
    padding: 0.35rem 0 0.3rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
}

.tbl-header-calendar-gantt-time-row {
    border-bottom: 1px solid #ddd;
    width: 100%;
    border-right: 1px solid #ddd;
    padding: 0.35rem 1rem 0.3rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
}

.gantt-grid-time-day-row {
    width: 35.5px;
    border-right: 1px solid #ddd;
}

.header-icon {}

.header-icon a {
    font-size: 1.5rem;
    color: #525f7f;
}

.table-profile-photo {
    display: inline-block;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.table-profile-name {
    margin-top: 7px;
}

.lo {
    overflow-x: hidden;
    overflow-y: auto;
}

#svg {
    width: 500px;
    height: 300px;
}

#container-bar {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

.sub-col-title .left {

    float: left;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    color: #525f7f;
    text-align: left;
}

.sub-col-title .right {

    float: right;
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
}

.bp {
    padding-bottom: 35px;
}

.lo-title {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize !important;
    color: #525f7f;
    text-align: left;
}

.progress-lbl .main {
    /*float:left !important;*/
    font-family: "Poppins", sans-serif;
    margin-right: 5px;
    font-weight: 500;
}

.progress-lbl .sub {
    font-size: 0.8rem;

}

.lo-three-dots-icon {
    justify-content: space-between;
    float: right;
}

.elemen-search-typehead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 700px;
}

.fa-user-circle-o {
    color: gray;
}

.typeahead {
    width: 700px;
    font-size: 0.8rem;
}

.typeahead .dropdown-menu .dropdown-item {
    font-size: 1.5rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.container-progress {
    position: relative;
    margin: 50px auto;
    width: 600px;
    text-align: center;
    padding: 24px;
    background-color: #fff;
}

.container-radio {
    position: relative;
    margin: 50px auto;
    width: 600px;
    text-align: center;
    padding: 24px;
    background-color: #fff;
}

.container-select {
    position: relative;
    margin: 50px auto;
    width: 600px;
    text-align: center;
    padding: 24px;
    background-color: #fff;
}

.container-progress .progress {
    display: -ms-flexbox;
    display: flex;
    height: 0.4rem !important;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.progress-number {
    font-weight: 600;
    color: #525f7f;
    font-size: 1rem;
}

#ex1Slider .slider-selection {
    background: #007bff;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-toggler:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-toggler {
    background-color: #007bff;
}

input:focus + .slider-toggler {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider-toggler:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider-toggler.round {
    border-radius: 34px;
}

.slider-toggler.round:before {
    border-radius: 50%;
}

.btn-secondary label {
    margin-right: 20px;
    margin-bottom: 0;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.main-drop {
    font-weight: 600;
}

.card-dashbaord-white {
    background: #fff;
}

.info .title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.info .description {
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
}

.status-col .btn-icon-custom {
    padding: 8px 8px 8px 20px;
    background-color: #007cf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    border-radius: 24px;
    min-width: 150px;
    max-width: 190px;
    text-align: left;
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.status-col .btn-icon-custom .btn-label {
    font-weight: 600;
    color: #fff;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.amt-col {
    min-width: 143px;
}

.fb {
    background-color: #3B5998;
    color: white;
}

.fb a {
    background-color: #3B5998;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.main-head {
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}
.page-dashboard-new .sidebar .nav li>a {
    padding: 6px 44px 6px;
    margin: 0 15px;
}
.page-dashboard-new .sidebar .logo {
    padding: 35px 0 30px;
    z-index: 4;
    width: 80%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    top: 0;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.page-cv-new .sidebar .nav li>a {
    padding: 6px 44px 6px;
    margin: 0 15px;
}
.page-cv-new .sidebar .logo {
    padding: 35px 0 30px;
    z-index: 4;
    width: 80%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    top: 0;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.my-profile-new .lang-switcher-list {
    padding: 10px 7px 0;
    text-align: left;
}
.my-profile-new .sidebar .nav li>a {
    padding: 6px 44px 6px;
    margin: 0 15px;
}
.my-profile-new .sidebar .logo {
    padding: 35px 0 30px;
    z-index: 4;
    width: 80%;
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    top: 0;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.col-new-header-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card .card-header .card-title-new {
    margin-bottom: 0;
    line-height: 38px;
	color: #00003f;
    border-radius: 0;
	font-size: 0.875rem;
	border-bottom: 3px solid #887E40;
	padding-bottom:15px;
    font-weight: 600;
    /* display: none; */
}
.row-collapse-personal .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-uploads .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-employment .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-education .collapse-title-lbl{
	margin-bottom: 2.5rem;
}

.row-collapse-skills .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-languages .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-bank-info .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-preference .collapse-title-lbl{
	margin-bottom: 2.5rem;
}
.row-collapse-work-days .input-lbl-block{
	margin-bottom: 2.5rem;
}
.table-listing-footer-pagination-favourite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.modal-form-wrapper .help-notes {
    font-size: 0.75rem;
    margin: 14px 0 0;
}






@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 769px) {
    /*.main{
        margin-left: 50%; 
    }*/

    .sidenav {
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 30%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.social-login {
    width: 506px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.social-btn {
    font-weight: 100;
    color: white;
    width: 249px;
    font-size: 0.9rem;
}

.facebook-btn {
    background-color: #3C589C;
}

.google-btn {
    background-color: #DF4B3B;
}

.form-reset,
#logreg-forms .form-signup {
    display: none;
}

.form-signup .social-btn {
    width: 210px;
}

.form-signup input {
    margin-bottom: 2px;
}

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

.sub-col-swiper-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444444;
    margin-bottom: 7px;
}

.sub-col-swiper-subtitle {
    margin-bottom: 7px;
}

.sub-col-swiper-subtitle .highlighted {
    font-weight: 600;
    color: #00003f;
}

.sub-col-swiper-desc-link {
    margin-top: 7px;
}

.sub-col-swiper-desc-link a {
    text-decoration: underline;
    font-weight: 400;
}

.col-dashboard-soft-red {
    background-color: #ff9b9b;
    padding: 24px;
    height: 100%;
    border-radius: 0.4285rem;
}

.draft-dots {
    padding-right: 30px;
}

.bubbles .btn {

    margin-right: 20px !important;
    border-radius: 20px !important;
    background: none !important;
    color: #007bff;
}

.bubbles .btn-primary:focus {

    background: #007bff !important;
}

.sub-category .title {
    text-decoration: underline;
    margin: 20px 0px 10px 5px;
}

.sub-col-container .sub-col-left-row-1 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-col-container .sub-col-right-row-1 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-icon-custom-row-1 {
    padding: 8px 8px 8px 20px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    border-radius: 24px;
    min-width: 150px;
    max-width: 100%;
    text-align: left;
    position: relative;
    -webkit-transition: none;
    transition: none;
}

.btn-icon-custom-row-1 .btn-label {
    color: #000;
    margin-right: 20px;
}

.sub-col-container .sub-col-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 24px 24px;
    flex-direction: column;
    justify-content: center;
}

.btn-customize-widget {
    margin: 0 auto;
}

.sub-col-left-row-1-group {
    display: flex;
    flex-basis: 100%;
    border-bottom: solid #ddd 1px;
    border-bottom: solid #ddd 1px;
}

.col-ratingcentre .rating-centre-container {
    display: flex;
    flex-direction: column;
}

.total-stars {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.left-stars {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.feedback-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-centre-star-icon {
    width: 27px;
    display: block;
    color: #f9d71c;
}

.rating-centre-numbers {
    font-size: 30px;
}

.col-ratingcentre .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-ratingcentre .right {
    width: 100%;
    margin-top: 24px;
}

.col-ratingcentre .left .left-top-rating {
    margin-top: 10px;
}
.top-rating-highlight {
    font-weight: 600;
}
.rating-stars-value {
    width: 180px;
    text-align: left;
    margin-right: 20px;
}

.rating-stars-desc {
    width: 380px;
}

.progressbar-chart_ratings {
    position: relative;
    width: calc(100% - 10px);
    padding-right: 56px;
    height: 8px;
    display: flex;
}
.progressbar-chart_ratings svg {
    border-radius: 0.4285rem;
}

.col-ratings {
    background-color: #fff;
    padding: 24px;
    height: 100%;
    border-radius: 0.4285rem;
}

.col-ratingcentre-top {
    padding: 0;
}
.col-ratingcentre-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.col-ratingcentre-bottom-wrapper {
    padding: 0 9px;
    background-color: #fff;
}
.col-ratingcentre-container:last-child .col-ratingcentre-bottom-wrapper {
    border-bottom-left-radius: 0.4285rem;
    border-bottom-right-radius: 0.4285rem;
}

.col-ratingcentre-container {
    margin-bottom: 0;
}
.col-ratingcentre-container:last-child {
    margin-bottom: 30px;
}

.col-ratings-bottom {
    background-color: #fff;
    height: 100%;
    border-radius: 0.4285rem;
}

.col-rating-first-bottom {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.col-rating-user-info {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.col-rating-user-info .col-rating-photo {
    margin-right: 15px;
}
.col-rating-user-info .rating-name-link {
    color: #525f7f;
    font-weight: 600;
}
.col-rating-user-info .task-details-comment-date::before {
    content: '\2022';
    color: #a9a9a9;
    margin: 0 5px;
}

.col-rating-photo {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.col-rating-first-bottom-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-rating-description {
    margin-bottom: 20px;
}

.bottom-rating-stars {
    display: flex;
    padding-bottom: 24px;
}
.col-bottom-rating-stars-task {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
.col-bottom-rating-stars-task .rating-star-average-group {
    display: flex;
    align-items: baseline;
}
.task-row-taskid .task-id-link {
    font-size: 0.75rem;
    color: #bababa
}
.rating-bottom-star-icon {
    width: 17px;
    display: block;
    color: #f9d71c;
}

.no-rating-bottom-star-icon {
    width: 17px;
    display: block;
    color: #eee;
}

header {
    height: auto;
    background: #fff;
    padding: 15px 0px;
}
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-main {
    display: flex;
    align-items: center;
}

.menu-main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #1d253b;
}

.menu-cta ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-cta ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #1d253b;
}

.logo img {
    width: 200px;
}

.sub-col-left {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.sub-col-left .menu-main ul {
    width: 250px;
    display: flex;
}

.sub-col-left .menu-main ul li:first-child {
    margin-right: 20px;
}

.menu-cta ul li {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.menu-cta ul li:last-child {
    padding-right: 0;
}

.menu-cta ul li:last-child a {
    color: #fff;
}

.menu-cta ul li:last-child .btn-header-post {
    background-color: #00c3bc;
    padding: 8px 20px;
    font-size: 0.85rem;
    color: #fff;
    border-radius: 24px;
    width: 150px;
}

.menu-cta ul li:last-child .btn-header-post .plus-icon-lbl {
    font-size: 0.85rem;
    color: #fff;
}

.menu-cta .lang-switcher-list {
    padding: 0 30px 0 0;

}

.menu-cta .lang-switcher-link.active {
    font-weight: 500;
    color: #007bff;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-container-public {
    height: calc(100vh - 66px);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-image: url(../img/home-landing-background.jpg);
    background-size: cover;
}

.search-container-public .col-public-search-wrapper {
    width: 100%;
}

.public-section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    border-bottom: solid thin #ccc;
}

.public-section-7 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

footer {
    width: 100%;
    height: 100%;
    background: #161e2c;
    color: #fff;
}

footer ul li {
    color: #fff !important;
    list-style: none;
}

footer .first-section {

    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 0px;
}

footer .second-section {

    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 0px;
    border-top: 1px solid #2b3340;
}

footer .first-section .first-section-column-2 .menu-1 ul {
    padding: 0;
    margin: 0;
}

footer .first-section .first-section-column-3 .menu-2 ul {
    padding: 0;
    margin: 0;
}

footer .first-section .first-section-column-4 .menu-3 ul {
    padding: 0;
    margin: 0;
}

.footer-logo {
    width: 160px;
    padding-bottom: 40px;
}

.footer-lang {
    margin-bottom: 20px;
}

.menu-1 ul li {
    padding-bottom: 6px;
    font-size: 0.82rem;
    font-weight: 400;
}

.menu-1 ul li:first-child {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 0.885rem;
}

.menu-2 ul li {
    padding-bottom: 6px;
    font-size: 0.82rem;
    font-weight: 400;
    color: #f7f7f7;
}

.menu-2 ul li:first-child {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 0.885rem;
}

.menu-3 ul li {
    padding-bottom: 6px;
    font-size: 0.82rem;
    font-weight: 400;
}

.menu-3 ul li:first-child {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 0.885rem;
}

.button-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.copyright {
    font-size: 11px;
}

.social {
    padding-bottom: 12px;
    font-weight: 600;
}

footer .total-no {
    font-weight: 600;
}

footer .total-post {
    font-weight: 600;
}

.lang-icon {
    display: block;
    width: 25px;
    color: #fff;
    margin-right: 15px;
}

.support-icon {
    display: block;
    width: 25px;
    color: #fff;
    margin-right: 15px;
}

.footer-support {
    display: flex;
    align-items: center;
}

.footer-lang {
    display: flex;
    align-items: center;
}

.fb-icon {
    display: block;
    width: 25px;
    color: #fff;
}

.tw-icon {
    display: block;
    width: 25px;
    color: #fff;
}

.yt-icon {
    display: block;
    width: 25px;
    color: #fff;
}

.ig-icon {
    display: block;
    width: 25px;
    color: #fff;
}

.first-section-column-1 {
    width: 280px;
}

.community-menu ul {
    padding-left: 0;
}

.community-menu ul li:first-child {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 0.885rem;
}

.community-menu ul li {
    padding-bottom: 6px;
    font-size: 0.82rem;
    font-weight: 400;
}

.footer-lang ul {
    padding: 0;
    margin: 0;
}

.footer-lang .lang-switcher-list {
    padding: 0;
    text-align: left;
}

.footer-lang .lang-switcher-link {
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.footer-support a {
    color: #fff;
}

.footer-support .slash {
    margin: 0 5px;
}

.menu-1 a {
    color: #fff;
}

.menu-2 a {
    color: #fff;
}

.menu-3 a {
    color: #fff;
}

.community-menu a {
    color: #fff;
}

.btn-bookmark-public {
    border: 1px solid #007cf0;
    background-color: #007cf0;
    color: #FFF;
    margin-left: 10px;
    border-radius: 24px;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 6.5px 23px;
    display: flex;
    align-items: center;
}

.btn-bookmark-public i {
    margin-left: 5px;
}

.modal-advanced-filter-wrapper {
    display: flex;
    align-items: flex-start;
}

.modal-advance-filter-container-left {
    width: 100%;
}

.modal-advance-filter-container-left .modal-advanced-filter-footer {
    margin: 20px 0 0;
}

.modal-advance-filter-container-right {
    margin: 1rem 0 0 1rem;
    width: 50%;
}

.modal-advance-filter-container-right label {
    display: block;
    font-weight: 600;
}

.modal-advance-filter-container-left label {
    font-weight: 600;
}

.keyword-filter-container {
    display: block;
    margin-bottom: 20px;
}

.keyword-filter-container label {
    display: block;
}

.modal-advance-filter-container-left .modal-advanced-filter-container {
    margin: 0;
}

.dropdown-menu-saved-search .btn-confirm {
    margin-left: auto;
}

.dropdown-menu.dropdown-menu-profile-details {
    margin: 14px 0;
    padding: 28px;
    border-radius: 0.4285rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
    min-width: 260px;
    transition: none;
}

.task-row-posterdetails-val.dropdown {
    position: relative;
}

.dropdown-menu-profile-details .task-details-row {
    margin: 0;
}

.col-company-logo {
    display: inline-block;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.company-microsite-container .right {
    margin-left: 30px;
    width: 100%;
}

.col-companyprofile .company-microsite-container {
    display: flex;
}

.col-company-name-microsite {
    font-size: 28px;
    padding-top: 10px;
}

.col-company-name-microsite-details-group {
    display: flex;
    flex-wrap: wrap;
}

.col-company-name-microsite-details-com {
    flex-basis: 50%;
    padding-top: 10px;
    font-size: 15px;
}

.microsite-icon {
    padding-right: 10px;
}

.col-microsite-row-container-main {
    display: flex;
    flex-wrap: wrap;
}

.col-microsite-row-container {
    padding: 24px;
    background-color: #fff;
    border-radius: 0.4285rem;
    margin-bottom: 24px;
    flex-basis: 50%;
}

.microsite-row-actions {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}

.microsite-row-actions button:last-child {
    margin-left: 10px;
}

.col-microsite-padding {
    flex-basis: 50%;
    padding-top: 10px;
    font-size: 15px;
}

.col-microsite-padding:nth-child(odd) {
    padding-right: 12px;
}

.col-microsite-padding:nth-child(even) {
    padding-left: 12px;
}

.company-microsite-container .rating-centre-container {
    margin-top: 30px;
}

.company-microsite-container .rating-centre-container .left {
    width: 50%;
}

.company-microsite-container .rating-centre-container .right {
    width: 50%;
    margin-left: 0;
}

.company-microsite-container .rating-centre-container .rating-stars-value {
    text-align: left;
}

.btn-public-sign-up {
    -webkit-appearance: none;
    padding: 13px 8px 13px 20px;
    background-color: #007cf0;
    font-weight: 600;
    color: #fff;
    align-items: center;
    font-size: 0.85rem;
    border-radius: 24px;
    border: 0;
    min-width: 150px;
    max-width: 100%;
    text-align: center;
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.btn-public-sign-up.btn-confirm {
    background-color: #007cf0;
    color: #fff;
    width: 100%;
}

.nav-pills-signupform {
    border-bottom: solid thin #007bff;
}

.row-dispute-resolution .slider.slider-horizontal {
    width: 529px;
    height: 20px;
}

.dispute-info {
    margin-top: 21px;
}

#table-listing-container-talent {
    width: 100%;
    position: relative;
    margin: 24px auto;
    padding: 0 14px 0 56px;
}

#table-listing-container-talent .table {
    width: 100%;
}
#table-listing-container-talent .table .col-chat {
    position: relative;
}
#table-listing-container-talent .table .col-chat.active a::before {
    content: '';
    position: absolute;
    background-color: #ff3d00;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 45px;
    top: 50%;
    -webkkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col-talent-modal-button-wrapper button {
    padding: 20px 24px;
    width: 100%;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 0.4285rem;
    margin: 24px 0px 0px;
}

.col-talent-modal-button-wrapper button.btn-primary:hover {
    background-color: #005bff !important;
    background-image: none !important;
}

.col-talent-modal-button-wrapper button.btn-primary:focus,
.col-talent-modal-button-wrapper button.btn-primary:active {
    background-color: #005bff !important;
    background-image: none !important;
}

.col-companyprofile-bottom-wrapper {
    padding: 24px 9px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 0.4285rem;
}

.company-about-us-container .about-us-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #344675;
}

.company-microsite-container-bottom {
    display: flex;

}

.company-about-us-container-img-stack {
    width: 33.3%;
    padding-right: 15px;
    padding-bottom: 15px;
}

.company-about-us-container-img-stack:after {
    content: '';
    display: block;
    padding-bottom: 33%;
}

.company-about-us-container-img-stack img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.company-microsite-container-bottom .right {
    flex-basis: 50%;
}

.company-microsite-container-bottom .left {
    flex-basis: 50%;
}

.company-about-us-container-img {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;

}

.img-stack-empty {
    display: flex;
}

.company-about-us-container {
    padding-left: 30px;
}

.img-stack-empty div {
    width: 100%;
    background-color: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-stack-empty div .empty-placholder-img {
    display: block;
    width: 120px;
    color: #ccc;
}

.company-about-us-container-img-stack:nth-child(4) {
    padding-bottom: 0px;
}

.company-about-us-container-img-stack:nth-child(5) {
    padding-bottom: 0px;
}

.company-about-us-container-img-stack:nth-child(6) {
    padding-bottom: 0px;
}

.about-us-desc p {
    color: #525f7f;
    font-size: 15px;
    padding-bottom: 10px;
}

.task-details-title-components .task-details-type.full-time {
    background-color: #f0724c;
}

.task-row-xtrainfo .task-details-type.full-time {
    background-color: #f0724c;
}

.col-task-row-wrapper-my-favourite {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.col-task-row-wrapper-my-favourite .col-my-favourite-wrapper {
    flex-basis: 50%;
    justify-content: space-between;
    width: 50%;
}

.col-my-favourite-wrapper:nth-child(odd) {
    padding-right: 12px;
}

.col-my-favourite-wrapper:nth-child(even) {
    padding-left: 12px;
}

.btn-icon-full.btn-unfav {
    background-color: #ff9b9b;
    color: #fff;
    margin-right: 15px;
}

.btn-icon-full.btn-unfav:hover {
    background-color: #eaeaea;
    color: #00003f;
}

.btn-icon-full.btn-unfav:hover .btn-icon {
    color: #00003f;
}

.btn-icon-full.btn-unfav .btn-icon {
    transition: all ease-in-out 0.3s;
}

#table-listing-container-subscription {
    width: 100%;
    position: relative;
    margin: 50px auto;
    padding: 24px;
    background-color: #fff;
}

.col-search-terms-result {
    display: flex;
    padding: 10px 16px 0px;
}

.col-search-terms-result .col-search-terms-result-title {
    padding-right: 10px;
    font-weight: 600;
}

.terms {
    padding-bottom: 20px;
}

.set-password .login-form .form-signin input
{
	margin-bottom:0 !important;
}
.set-password .login-form form.form-signin {
    padding: 30px;
    margin: 0;
    width: 100%;
    max-width: 400px !important;
}
.set-password-group
{
	display:flex;
	align-items:center;
	margin-bottom:24px;
}
span.terms_link
{
	color: #007cf0;
    font-weight: 300;
	cursor: pointer; 
}
#modal_t_c .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}
#modal_t_c .modal-dialog .modal-content {
    height: calc(100vh - 86px);
    overflow: hidden;
}
#modal_t_c .modal-dialog .modal-content .modal-body {
    overflow-y: auto;
}
#modal_t_c .modal-content .modal-body+.modal-footer {
    padding-top: 24px;
}
#modal_t_c .modal-body .modal-para {
    margin-top: 0 !important;
}
#modal_t_c .modal-content .modal-header {
    font-size: 1.3rem;
    font-weight: 600;
    color: #00003f;
}

.paid .btn-icon-full
{
	background-color: #00c3bc !important;
	    min-width: 120px !important;
}
#modal_payment_success .modal-footer {
    padding: 24px;
    justify-content: flex-end;
}
#modal_payment_success td.info.title
{
	font-weight:700;
}
#modal_payment_fail .modal-footer {
    padding: 24px;
    justify-content: flex-end;
}
#modal_payment_fail td.info.title
{
	font-weight:700;
}

.col-task-filter-container .task-filter-row.task-filter-row-location .form-filter-select-by-location {
    margin-bottom: 15px;
}
.col-task-filter-container .task-filter-row.task-filter-row-location .form-filter-state {
    display:none;
}
.col-task-filter-container .task-filter-row.task-filter-row-location .form-filter-city {
     display:none;
	margin-bottom: 15px;
}
.col-task-filter-container .task-filter-row.task-filter-row-location .form-filter-within {
     display:none;
}

.row-indweekend .custom-radio .custom-control-label::before {
    display: none;
}
.row-indweekend .custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.edit-in-modal {
	margin-top:10px;
}
.edit-in-modal a {
	text-decoration:none;
	font-weight: 500;
}
.row-collapse-employment .talent-details-workxp-row .talent-details-workxp-desc {
    margin-top: 15px;
}
.sub-col-content.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	min-height:239px;
    margin-bottom: 0;
}
.task-row-col-top-flex.job {
	display:flex;
	align-items:center;
	justify-content: center;
	margin-bottom: 0;
}
.talent-row-col-top-flex.job {
	display:flex;
	align-items:center;
	justify-content: center;
	margin-bottom: 0;
}
.col-task-row-wrapper-my-favourite .col-my-favourite-wrapper.empty {
    flex-basis: 100%;
    justify-content: space-between;
    width: 100%;
	padding-right: 0px;
}
.noti-contents.empty
{
	padding-left: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.taskcentre-details-viewmore.job {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tbl-group-calendar-bar-row.row-2.job {
    flex-basis: 15.2%;
}
.tbl-group-calendar-bar-row.row-4.job {
    flex-basis: 17%;
    padding: 0 1rem;
    text-align: right;
}
.col-analytics-calendar-top .sub-col-report-dashboard.report-dashboard-agg-earn-row.job {
    width: 100%;
    text-align: center;
	border:none;
}
/*------------------- Empty ------------------*/

.sub-col-container .sub-col-right.empty {
    width: 50%;
    max-width: 50%;
    padding: 24px 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	flex: 0 0 100%;
}
/*------------------- Laptop LG Viewport ------------------*/
@media screen and (max-width: 1499px) {
    .taskcentre-details {
        padding: 1rem 1.5rem !important;
    }
}


/*------------------- Laptop LG Viewport ------------------*/
@media screen and (max-width: 1450px) {

    .task-row-col-btm-flex {
        display: flex;
        align-items: flex-end;
        flex-basis: 100%;
        flex-direction: column;
    }

    .task-row-col-btm-flex .task-row-col-left {
        width: 100% !important;
        text-align: left;
    }

    .task-row-col-btm-flex .task-row-col-right {
        width: 100% !important;
        text-align: right;
        margin-top: 20px;
    }

    .login-form form.form-signin {
        padding: 30px 25px !important;
        margin: 0;
        width: 100%;
        max-width: 580px;
    }

    .taskcentre-details-row {
        margin-bottom: 1rem;
    }

    .taskcentre-details {
        padding: 1rem 3.5rem;
        display: flex;
        justify-content: flex-start !important;
        flex-wrap: wrap;
    }

    .tbl-group-calendar-bar-row.row-1 {
        flex-basis: 44% !important;
    }
}


/*------------------- Login Button  ------------------*/
@media screen and (max-width: 1231px) {
    
    .social-login button {
        margin: 10px 0px !important;
        border-radius: 24px;
        font-weight: 400;
    }

    .social-btn {
        font-weight: 100;
        color: white;
        width: 100% !important;
        font-size: 0.9rem;
    }
    
}

/*------------------- Laptop SM Viewport ------------------*/
@media screen and (max-width: 1199.98px) {

    .status-col .btn-icon-custom {

        min-width: 188px;
    }

    .table-billings .tbl-desc {
        color: #9897a9;
        font-size: 0.75rem;
        font-weight: 400;
        min-width: 64px;
    }

    .task-row-rating-flex {
        display: flex;
        padding-top: 10px;
    }

    .task-row-posterdetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .col-companyprofile .rating-centre-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .rating-centre-container .right {

        margin-top: 30px;

    }

    .company-microsite-container .rating-centre-container .right {
        width: 100%;
        margin-left: 0;
    }

    .rating-stars-desc {
        width: 100%;
    }

    .company-microsite-container-bottom {
        display: flex;
        flex-direction: column;
    }

    .company-about-us-container {
        padding-left: 0px;
        padding-top: 30px;
    }

    .company-about-us-container-img {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0px;
    }

    .company-about-us-container-img-stack:nth-child(3) {
        padding-right: 0;

    }

    .company-about-us-container-img-stack:nth-child(6) {
        padding-right: 0;

    }

    .talent-last-login .talent-profile-label {
        min-width: 81px;
    }

    

    .col-talent-row-wrapper {
        padding-left: 0 !important;
        padding-right: 0;
    }

    footer .first-section {
        display: flex;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 32px 0;
    }

    footer .second-section {
        display: flex;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 32px 0;
        border-top: 1px solid #2b3340;
    }

    .first-section-column-1 {
        width: 225px;
    }


}




/*------------------- Tablet Viewport ------------------*/
@media screen and (max-width: 991px) {
    .table-billings .dropdown-toggle:after {
        display: none;
    }

    .col-microsite-padding {
        flex-basis: 50%;
        padding-top: 10px;
        font-size: 15px;
        width: 50%;
    }

    .bubble-selection-container {
        width: 100% !important;
        margin: 50px 0 !important;
        display: block;
        box-sizing: border-box;
        padding: 0 40px !important;
    }

    .col-talent-details-wrapper .col-talent-details-top-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col-talent-details-wrapper .col-talent-details-top-wrapper .col-left-card {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .col-talent-details-wrapper .col-talent-details-top-wrapper .col-right-card {
        width: 100% !important;
        padding-left: 0px !important;
    }

    .col-talent-details-wrapper .col-talent-details-btm-wrapper .col-left-card {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .first-section-column-2 ul {
        padding-left: 10px;
    }

    .first-section-column-3 ul {
        padding-left: 10px;
    }

    .first-section-column-4 ul {
        padding-left: 10px;
    }
}


/*------------------- Ipad Viewport ------------------*/
@media screen and (max-width: 768px) {

    .row-collapse-skills .form-flex .input-group-flex {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .row-collapse-languages .form-flex .input-group-flex {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .col-ratingcentre .rating-centre-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rating-stars-desc {
        width: 100%;
    }

    .rating-stars-value {
        width: 150px;
        text-align: left;
        margin-right: 20px;
    }

    .col-ratingcentre .right {
        width: 100%;
        padding-top: 20px;
    }

    .col-task-row-wrapper-my-favourite .col-my-favourite-wrapper {
        flex-basis: 100%;
        justify-content: space-between;
        width: 100%;
    }

    .col-my-favourite-wrapper:nth-child(odd) {
        padding-right: 0px;
    }

    .col-my-favourite-wrapper:nth-child(even) {
        padding-left: 0px;
    }

    .col-microsite-padding {
        flex-basis: 100% !important;
        padding-top: 10px;
        font-size: 15px;
    }

    .col-microsite-padding:nth-child(odd) {
        padding-right: 0px;
    }

    .col-microsite-padding:nth-child(even) {
        padding-left: 0px;
    }

    .task-row-taskdesc {
        margin-top: 10px;
        color: #525f7f;
        padding-right: 10px;
    }

    .row-collapse-preference .form-flex .input-group-block.row-indlocremote {
        display: block;
        flex-basis: 100%;
        margin-bottom: 24px;
        padding-right: 0;
    }

    .row-collapse-preference .form-flex .input-group-block.row-indlocphysical {
        display: block;
        flex-basis: 100%;
        margin-bottom: 24px;
        padding-right: 0;
    }

    .row-collapse-preference .form-flex .input-group-block.row-indworkload {
        display: block;
        flex-basis: 100%;
        margin-bottom: 24px;
        padding-right: 0;
    }

    .row-collapse-dispute-resolution .form-flex {
        width: 100% !important;
    }

    .col-task-details-flex {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 24px;
        background-color: #fff;
        border-radius: 0.4285rem;
    }

    .col-task-details-flex .col-task-details-left {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .col-task-details-flex .col-task-details-right {
        width: 100% !important;
        padding-left: 0px !important;
        border-left: none !important;
    }

    .col-task-details-top .task-details-profile {
        border-top: solid thin #ddd;
        padding-top: 20px;
    }

    .sign-in-main {
        margin-left: 0 !important;
        height: auto !important;
    }

    .taskcentre-details {
        padding: 1rem 3.5rem;
        display: flex;
        justify-content: space-between !important;
        flex-wrap: wrap;
    }

    .tbl-group-calendar-bar-flex {
        display: block !important;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        font-size: 0.85rem;
        box-shadow: 0 1px 15px 0 hsla(0, 0%, 48%, .05);
        padding: 0.5rem 0;
    }

    .tbl-group-calendar-bar-row.row-4 {
        flex-basis: 15%;
        padding: 0 3.5rem !important;
        text-align: left !important;
    }

    .tbl-group-calendar-bar-row.row-2 {
        padding: 0 3.5rem !important;
        text-align: left !important;
    }

    .tbl-group-calendar-bar-row.row-3 {
        padding: 0 3.5rem !important;
        text-align: left !important;
    }

    .col-right-card-flex {
        overflow: hidden;
        padding-left: 0;
        display: none !important;
        padding-right: 0;
        position: relative;
        max-width: 70%;
        min-width: 30%;
        height: calc(100vh - 174.03px);
    }

    .col-left-card-flex {
        padding-right: 0;
        box-shadow: 3px 8px 10px 0px rgba(32, 33, 36, 0.28);
        z-index: 2;
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        background-color: #f5f6fa;
        height: calc(100vh - 174.03px);
        overflow-y: auto;
    }

    footer .first-section {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: left;
        width: 100%;
        padding: 32px 74px;
    }
}


/*------------------- Mobile Viewport ------------------*/
@media screen and (max-width: 576px) {

    .form-flex .input-group-flex {
        display: flex;
        flex-direction: row;
        flex-basis: 100% !important;
    }

    .form-flex .input-group-flex:nth-child(even) {
        padding-left: 0px !important;
    }

    .form-flex .input-group-flex:nth-child(odd) {
        padding-right: 0px !important;
    }

    .col-report-dashboard-top {
        padding: 15px 8px;
    }

    .footer-form-action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .btn-icon-full {
        -webkit-appearance: none;
        padding: 8px 8px 7px 20px;
        background-color: #007cf0;
        font-weight: 600;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.85rem;
        border-radius: 24px;
        border: 0;
        min-width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        position: relative;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        margin-bottom: 10px;
    }

    .col-ratingcentre-top {
        padding: 0;
    }

    .rating-stars-value {
        width: 205px;
        text-align: left;
        margin-right: 20px;
    }

    .col-ratingcentre-bottom {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .col-ratingcentre-container {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .col-ratingcentre-container:nth-child(odd) {
        padding-right: 0px;
    }

    .col-ratingcentre-container:nth-child(even) {
        padding-left: 0px;
    }

    .modal-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 24px 24px 16px 24px;
        border-top: 1px solid #e9ecef;
        border-bottom-right-radius: 0.2857rem;
        border-bottom-left-radius: 0.2857rem;
    }

    .modal-write-review .modal-footer .btn-cancel {
        margin-right: 0px !important;
        background-color: #eaeaea;
        color: #00003f;
    }

    .modal-content .modal-footer button {
        margin-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        width: auto;

    }

    .row-starrating > .form-group-flex {
        flex-direction: column;
    }

    .row-starrating .ratingstar-select {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .row-starrating .form-group-flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .form-companyprofile .row-cpmobile {
        margin-bottom: 24px !important;
    }

    .form-flex .input-group-block:nth-child(even) {
        padding-left: 0px !important;
    }

    .col-companyprofile .company-microsite-container {
        display: flex;
        flex-direction: column;
    }

    .company-microsite-container .right {
        margin-left: 0px;
        width: 100%;
    }

    .col-company-name-microsite-details-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .company-microsite-container .rating-centre-container .left {
        width: 100%;
    }

    .col-company-name-microsite {
        font-size: 20px;
        padding-top: 10px;
    }

    .row-collapse-preference .form-flex .input-group-flex {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .row-collapse-preference .form-flex .input-group-block {
        display: block;
        flex-basis: 100%;
        margin-bottom: 24px;
    }

    .col-talent-details-wrapper .talent-details-personal-info-flex {
        display: flex;
        flex-direction: column;
    }

    .task-details-comment .btn-full {
        -webkit-appearance: none;
        padding: 10px 20px 9px;
        background-color: #007cf0;
        font-weight: 600;
        color: #fff;
        text-align: center;
        font-size: 0.85rem;
        border-radius: 24px;
        border: 0;
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        position: relative;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .col-task-details-header .col-task-details-amount {
        width: 100% !important;
        padding: 0 24px 20px !important;
        display: flex;
        flex-direction: column;
    }

    .col-task-details-header {
        display: flex;
        margin-bottom: 14px;
        flex-direction: column-reverse;
    }

    .col-task-details-header .task-details-title-wrapper {
        width: 100% !important;
        padding: 0 24px;
    }

    .task-details-type {
        background-color: #655f93;
        padding: 4px 12px;
        font-size: 0.75rem;
        margin-bottom: 10px;
        color: #fff;
        width: auto;
        border-radius: 24px;
        display: block !important;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .task-details-title-components .task-details-location {
        display: block;
        margin-bottom: 5px;
    }

    .card .card-body-tasklisting {
        padding: 0;
        margin-top: 73px !important;
        border-radius: 0;
        background-color: #f5f6fa;
    }

    .public-wrapper .search-container-public .container {
        width: 100%;
        max-width: 100%;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .search-dropdown-filter.search-panel {
        min-width: 100% !important;
        position: absolute;
        top: auto !important;
        bottom: 0 !important;
        right: 0px !important;
    }

    .search-public-form .tt-input {
        padding-bottom: 50px !important;
    }

    .search-public-form.form-flex {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .search-dropdown-filter.search-panel:before {
        display: none;
    }

    .white-content select.form-control {

        padding: 10px 0.9rem !important;
    }

    .col-public-search-wrapper .btn-search-public {
        border: 1px solid #007cf0;
        background-color: #007cf0;
        color: #FFF;
        border-radius: 24px;
        box-shadow: none;
        -webkit-appearance: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 0.85rem;
        padding: 8px 8px 7px 20px;
        width: 100%;
        margin-bottom: 14px;
    }

    .search-dropdown-filter.search-panel {
        min-width: 150px;
        position: absolute;
        top: 1px;
        right: 10px;
        border-top: solid thin #cad1d7;
    }

    .public-search-taskjob-filter-container.active {
        display: block !important;
        flex-wrap: wrap;
    }

    .public-search-talent-filter-container.active {
        display: block !important;
        flex-wrap: wrap;
        align-items: center;
    }

    .public-search-talent-filter-container .form-filter-country {
        margin-right: 0px !important;
        min-width: 100% !important;
        margin: 10px 0;
    }

    .modal-steps .modal-dialog .modal-step-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }


}
