.profile-img { display: block; margin-bottom: 5px; }

ul.my-docs {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.my-docs li {
    margin: 0;
    padding: 0;
}

ul.my-docs li a.remove-docs {
    color: #d9534f;
    margin: 0 0 0 5px;
}

ul.image-list {
	padding: 0;
    margin: 0;
}

ul.image-list li {
	padding: 0;
    margin: 0 5px 5px 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

ul.image-list li a {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 3px 6px;
	background-color: #d9534f;
	color: #fff;
}

.bootstrap-tagsinput input[type="text"] {
	border: none;
}

.modal-col-left {
	position: relative;
}

.mapSearchBox {
	width: 75%;
	position: absolute;
	z-index: 1;
	top: 60px;
	left: 12%;
	box-shadow: 0 0 24px 4px rgba(0,0,0,0.25);
	border-radius: 0.5rem;
	display: none;
}

.pac-container {
	z-index: 9999;
}

#modal_chat .modal-dialog {
    max-width: 100%;
    width: 1000px;
}

.twitter-typeahead{
	vertical-align: middle;
	margin-left: 3px;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 10px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-cursor {
	color: #ffffff !important;
	text-decoration: none;
	outline: 0;
	background-color: #007bff !important;
	border-radius: 0.4285rem;
}

span.twitter-typeahead .tt-menu {
	width: inherit;
}

.tt-suggestion-footer {
	white-space: nowrap;
}

.alert ul {
	padding-left: 15px;
}

.alert ul li {
	color: inherit !important;
	font-size: 13px;
}

.message-reply-content .col {
	max-width: 80px;
}

.message-reply-content .attachment-preview {
	position: relative;
}

.message-reply-content .attachment-preview .remove-attachment-file {
	.display: none;
	color: #fff;
	background: #d9534f;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-radius: 0 0 10px 10px;
}

.message-reply-content .attachment-preview:hover .remove-attachment-file {
	.display: inherit;
}

.message-reply-content .img-fluid {
	max-height: 70px;
}

.message-reply-content .middle{
	display: flex;
	align-items: center;
  	justify-content: center;
	text-align: center;
	line-height: 17px;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
	padding: 5px 5px 20px;
	border-radius: 10px;
}

.message-reply-content[data-type='attachment']{
	background-color: #eee !important;
}

.message-reply-content .message-content-attachment {
	padding: 0;
}

.message-reply-content .file > div {
	max-width: 95%;
}

#modal_chat_img .download-btn a {
	color: rgba(0, 0, 0, 1);
}

.chat-content {
	position: relative;
}

.bg-blue > h6 {
	color: #fff;
}

.note-btn {
    font-weight: normal;
}

.talent-details-workxp-location {
	font-size: 0.75rem;
	color: #a9a9a9;
}

/* Chat bg-light change to bg-light-chat */
.bg-light-chat {
    background-color: #fff;
}

.message-content.bg-light-chat .non-icon-download {
    background-color: #0176ff;
    color: #fff;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: 0.4285rem;
}

.message-content.bg-light-chat ul li  {
    color: #525f7f;
}

.message-row .message-content.bg-light-chat .dropdown-chat {
    position: absolute;
    right: 12px;
    margin-top: 0;
    top: 6px;
}

.message-row .message-content.bg-light-chat .dropdown-chat .dropdown-menu {
    left: auto !important;
    right: 0;
}

.message-row .message-content.bg-light-chat .chat-pin {
    width: 18px;
    display: inline-block;
    margin-left: 10px;
    color: #525f7f;
}

.message-row .message-content.bg-light-chat a.message-row-dropdown-link {
    box-shadow: -5px 2px 8px 1px #fff;
    background-color: #fff;
}

.message-content.bg-light-chat .message-reply-content {
    background-color: #ddd;
}

.pin-item.member {
	background-color: #eee !important;
	color: #000 !important;
}

ul.chat-details-pinned-list > li .pin-item.member .list-inline-item {
	color: #000;
}

ul.chat-details-pinned-list > li .pin-item.member .non-icon-download {
	background-color: #0176ff;
	color: #fff;
}

ul.chat-details-pinned-list > li .pin-item.member a.message-row-dropdown-link {
	color:#525f7f;
}

.form-individualprofile .edit-in-modal .remove-employment,
.form-individualprofile .edit-in-modal .remove-education {
	color:#f5365c;
	margin-left: 5px;
}

.chat-footer .message-content-attachment .file > div > span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.dropdown-chat a, a.dropdown-item {
	cursor: pointer;
}

.col-report-dashboard-role-radio-container {
	position: relative;
	z-index: 3;
}

/* Loading */
html.busy, html.busy * { cursor: wait !important; }  
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}

.cursorLoading { position: fixed; top: 10px; left: 10px; background: rgba(0,0,0,0.75); color: #fff; padding: 5px 10px; border-radius: 5px; z-index: 1000; }
 #progress {
	position: fixed;
	z-index: 2147483647;
	top: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background: #b91f1f;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear
}

#progress.done {
	opacity: 0
}

#progress dd,#progress dt {
	position: absolute;
	top: 0;
	height: 2px;
	-moz-box-shadow: #b91f1f 1px 0 6px 1px;
	-ms-box-shadow: #b91f1f 1px 0 6px 1px;
	-webkit-box-shadow: #b91f1f 1px 0 6px 1px;
	box-shadow: #b91f1f 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%
}

#progress dd {
	opacity: 1;
	width: 20px;
	right: 0;
	clip: rect(-6px,22px,14px,10px)
}

#progress dt {
	opacity: 1;
	width: 180px;
	right: -80px;
	clip: rect(-6px,90px,14px,-6px)
}

@-moz-keyframes pulse {
	30% {
		opacity: 1
	}
	60% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-ms-keyframes pulse {
	30% {
		opacity: .6
	}
	60% {
		opacity: 0
	}
	100% {
		opacity: .6
	}
}
@-o-keyframes pulse {
	30% {
		opacity: 1
	}
	60% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes pulse {
	30% {
		opacity: .6
	}
	60% {
		opacity: 0
	}
	100% {
		opacity: .6
	}
}
@keyframes pulse {
	30% {
		opacity: 1
	}
	60% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

#progress.waiting dd,#progress.waiting dt {
	-moz-animation: pulse 2s ease-out 0s infinite;
	-ms-animation: pulse 2s ease-out 0s infinite;
	-o-animation: pulse 2s ease-out 0s infinite;
	-webkit-animation: pulse 2s ease-out 0s infinite;
	animation: pulse 2s ease-out 0s infinite
}

.tbl-header-calendar-gantt-week-row{
	max-width:700px;
	width:auto;
}

.tbl-body-calendar-gantt {
	height: calc(100vh - 230px);
}

.bootstrap-datetimepicker-widget table td.disabled {
	color: #dcdcdc!important;
}

.btn-icon-full.btn-icon-disabled,
.btn-icon-custom.btn-icon-disabled,
.btn-icon-full.btn-icon-disabled {
    background-color: #999 !important;
}

.btn-icon-disabled.btn-chevron-right .btn-icon {
    background-color: #999;
    color: #fff;
}
.published-task-row .tbl-group-calendar-bar-row.row-4 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

ul.draft-attachments {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.draft-attachments > li {
	display: flex;
	position: relative;
	padding: 0;
	margin-bottom:5px;
	align-items: baseline;
}

ul.draft-attachments > li > span,
ul.draft-attachments > li > a{
	display: flex;
	justify-content: flex-start;
	justify-items: flex-start;
	flex-grow: 10;
	flex-shrink: 0;
}

ul.draft-attachments > li > .remove-attachment{
	flex-grow: 1;
	text-align:right;
	justify-items: center;
	justify-content: flex-end;
	cursor: pointer;
	text-transform: lowercase;
	font-size: 15px;
	padding-left: 10px;
	flex-shrink: 2;
}

ul.draft-attachments > li > .remove-attachment:hover{
	color:#f5365c;
}

.chat-content{
	height: 100%;
}

.tc-InProgress .taskcentre-details-row.row-taskdesc{
	width:100%;
}

.taskcentre-details-row.row-taskdesc{
	width:100%;
}

.card-calendar-day .tbl-group-calendar-gantt-bar-row-wrapper .tbl-group-calendar-gantt-bar-total:not(:first-of-type){
	position:absolute;
	top:0;
	margin-top:0.7rem;
	left: 0;
}

.bootstrap-tagsinput input[type="text"]:focus {
    border: none;
    outline: none;
}
.col-ratingcentre-container{
	width:100%;
}

.form-col-taskplan-remove-link{
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.form-group.form-col-taskplan-time,
.form-group.form-col-taskplan-date{
	margin-bottom:0;
}

.form-date-taskplan-row{
	margin-bottom: 1rem;
}

.active-row .btn-icon-full.btn-billing.active::after {
	content: '';
	position: absolute;
	background-color: #ff3d00;
	border: 1px solid #f5f6fa;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	right: 2px;
	top: -2px;
}

.btn-icon-full[disabled="disabled"],
.btn-icon-full[disabled],
.btn-icon-full.disabled{
	background-color: #eaeaea!important;
	color: #ddd!important;
}
.col-rating-user-info .task-details-comment-date::before {
	content: "\2022";
}
.panel-heading.note-toolbar button.note-btn.btn {
	background-color: #eee;
	color: #525f7f;
	border: 1px solid #ddd;
}
.panel-heading.note-toolbar button.note-btn.btn {
	background-color: #eee;
	color: #525f7f;
	border: 1px solid #ddd;
}
.note-editor.note-frame.panel.panel-default{
	background: #ffffff;
}
.task-details-actions-fav .btn-icon-full.btn-unfav{
	min-width:100%;
}
.dropzone .dz-preview .dz-image{
	width:80px;
	height:80px;
}
.dropzone .dz-preview .dz-remove{
	margin-top:10px;
	z-index: 21;
}
.dropzone .dz-preview .dz-details{
	font-size: 12px;
	padding: 1em;
}
#post_job_btn .plus-icon-lbl {
	display: none;
}
button.btn-header-post#post_job_btn {
	width: initial;
}
#post_job_btn .plus-icon {
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: transform ease-in-out 0.3s;
	transition: transform ease-in-out 0.3s;
}
#post_job_btn .plus-icon:hover {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: transform ease-in-out 0.3s;
	transition: transform ease-in-out 0.3s;
}
span.help-inline-error.small {
	position: absolute;
	bottom: -20px;
	color:#fd5d93 !important;
}

@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}
.spinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	border: 0.25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner-border .75s linear infinite;
}
.spinner-border-sm {
	width: 1rem;
	height: 1rem;
	border-width: 0.2em;
}
@keyframes spinner-grow {
	0% {
		transform: scale(0);
	}
	50% {
		opacity: 1;
	}
}
.spinner-grow {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	background-color: currentColor;
	border-radius: 50%;
	opacity: 0;
	animation: spinner-grow .75s linear infinite;
}
.spinner-grow-sm {
	width: 1rem;
	height: 1rem;
}
.col-task-details-flex.col-task-details-box-container .col-task-details-right .task-details-row.task-details-profile{
	margin-bottom: 24px;
}
.col-task-details-box .task-details-row:last-child {
	margin-bottom: 0;
}


.sidenav-logo {
	position: absolute;
	top: 36px;
	left: 36px;
}

@media (max-width: 576px) {
	.sidenav-logo {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 80px;
	}
}
.state-loading{
	right:calc(24px + 1rem);
}

@media screen and (max-width: 576px) {
	.state-loading{
		right:1rem;
	}
}